.city {
    height: 700px;
    width: 1100px;
    border: 2px black solid;
  
     background-image: url("—Pngtree—cartoon\ city\ highway\ illustration_4580783.png" ); 
    background-size: cover;
    
     position: relative; 
     z-index: -1; 
     animation: move 2s linear reverse infinite ;   
   
}
 .road{
    height: 700px;
    width: 1100px;
    background-image: url("road.png" );
    background-size: cover; 
    background-repeat: repeat-x;
    position: absolute; 
    top: 45px;
    animation: move 3s linear  infinite;  
    z-index: 2;
 

 } 

@keyframes move {
    0% {
        background-position: 0 0 ;
        /* transform: translateX(0); */
    }
    100%{
        background-position: -300px 0 ;
        /* transform: translateX(500px); */
    } 
 }
.car {
    position: absolute;
    top: 400px;
    left: 790px;
    animation: up 1s linear 2; 
    z-index: 3;

}
.wheel1{
    position: absolute;
    top: 440px;
    left: 810px;
    animation: wheel 2s linear infinite;
    z-index: 3;
}
.wheel2{
    position: absolute;
    
    left: 920px;
     top: 440px; 
     z-index: 3;
   
    animation: wheel 2s linear infinite;
}
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }

}