.road {
    height: 500px;
    width: 1100px;
    border: 2px black solid;
    border-radius: 10%;
    background-image: url("favpng_road-asphalt.png" );
    background-size: cover;
    background-position: 0 0 ;
    position: relative;
    animation: move 2s linear  infinite; 
   
}

@keyframes move {
    0% {
        background-position: 0 0 ;
    }
    100%{
        background-position: -100px 0 ;
    } 
 }
.car {
    position: absolute;
    top: 400px;
    left: 790px;
    animation: up 1s linear 2; 

}
.wheel1{
    position: absolute;
    top: 440px;
    left: 810px;
    animation: wheel 2s linear infinite;
}
.wheel2{
    position: absolute;
    
    left: 920px;
     top: 440px; 
   
    animation: wheel 2s linear infinite;
}
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }

}